<div [ngStyle]="{'padding': '0 10%'}">
    <h1>Zian Choudhury</h1>
    <div>
        <Section>
            <p>
                My name is Zian, I am a fourth semester student. I previously studied mechanical engineering however I returned back to school because I realized that enjoy programming wanting to step foot into the IT industry. So far from the experiences that I have
                had with programming I have enjoyed web programming and C++ programming. I am also looking into Python for back end web development since I ultimately want to go into full stack development.
            </p>
        </Section>
    </div>
</div>