<mat-card>
    <mat-card-content>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <h2>Log In</h2>
            <mat-error *ngIf="this.warning !== ''">{{this.warning}}</mat-error><br />
            <mat-form-field class="full-width-input">
                <input [(ngModel)]="user.userName" #loginForm="ngModel" matInput placeholder="User Name" name="username" required autofocus>
                <mat-error>Please provide a valid user name</mat-error>
            </mat-form-field><br />
            <mat-form-field class="full-width-input">
                <input matInput [(ngModel)]="user.password" #loginForm="ngModel" type="password" placeholder="Password" name="password" password="password" required>
                <mat-error>Please provide a valid password</mat-error>
            </mat-form-field><br />
            <button (click)="onSubmit(loginForm)" mat-raised-button color="accent" type="submit">
        <mat-icon>login</mat-icon>
        <span>&nbsp;&nbsp;&nbsp;Login</span>
        </button> &nbsp;&nbsp;
            <button [routerLink]="['/register']" type="button" mat-raised-button color="primary">
            <mat-icon>account_box</mat-icon>
            <span>&nbsp;&nbsp;&nbsp;Register</span>
        </button>
        </form>
        <br /><br />
        <mat-progress-bar *ngIf="this.loading" mode='query'></mat-progress-bar>
    </mat-card-content>
</mat-card>